.form{
    margin-left: 40rem;
    margin-top:12rem;
   /*  border:1px solid black; */
    width: 20rem;
    height:20rem;
    border-radius:2rem;
    box-shadow: 30px 30px/*  lightblue */;
}
.form2{
    margin-left: 40rem;
    margin-top:12rem;
    /* border:1px solid black; */
    width: 20rem;
    height:30rem;
    border-radius:2rem;
    box-shadow: 30px 30px/*  lightblue */;
}
.form3{
    margin-left: 40rem;
    margin-top:12rem;
    /* border:1px solid black; */
    width: 30rem;
    height:30rem;
    border-radius:2rem;
    box-shadow: 30px 30px/*  lightblue */;
}
.form4{
    margin-left: 40rem;
    margin-top:12rem;
    /* border:1px solid black; */
    width: 30rem;
    height:40rem;
    border-radius:2rem;
    box-shadow: 30px 30px/*  lightblue */;
}
.left{
    margin-left:7rem;
    margin-bottom: 2rem;
}
.left2{
    margin-left: 2rem;
}
.down{
    margin-bottom: 2rem;
}
.button{
    border:2px solid black;
    border-radius:0.2rem;
}
body{
    background-image: url("https://wallpaperset.com/w/full/a/8/4/38610.jpg");
}